/* .paragraph{
    padding: 20px;
    background-color: rgb(216, 241, 241);
    width: 100%;
    font-size: medium;
    align-content: center;
    height:min-content;
    
} */

.content{
width:100%;


}